@use '../../../styles/variables' as *;

.container {
    position: relative;
    max-width: 100vw;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;

    &.imageOverlay {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($themeWhite, 0.5);
        }
    }
}