@use '../../../../../styles/variables' as *;

.wrapper {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
    justify-content: space-between;
    text-decoration: none;
    color: $themeBlack;
    height: 100%;

    &:hover {

        .imageWrapper {
            transform: translateY(-0.5rem);
            box-shadow: 0 6px 10px -3px rgba(0, 0, 0, 0.3);  
        }
        
    }
}

.imageWrapper {
    transition: all 0.3s;
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
}

.imageContainer {
    //width: 100%;
    //aspect-ratio: 1/1;
    transition: all 0.3s;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: opacity;
}

.productText {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    height: 100%;
}

.name {
    font-size: 2rem;

    @media screen and (max-width: $media-small) {
        font-size: 1.8rem;
    }
}

.button {
    width: 100%;
    text-align: center;
    border: 1px solid $themeBlack;
    padding: 1rem 0;
    transition: all 0.2s;
    margin-top: 1.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.7rem;
    @include button-styles;

    &:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 6px 10px -3px rgba(0, 0, 0, 0.3);
    }
}