@use '../../../../../styles/variables' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
    text-decoration: none;
    color: $themeBlack;

    &:hover {

        .imageContainer {
            transform: translateY(-0.5rem);
            box-shadow: 0 6px 10px -3px rgba(0, 0, 0, 0.3);  
        }
        
    }
}

.imageContainer {
    width: 100%;
    aspect-ratio: 1/1;
    transition: all 0.3s;
}

.productText {
    padding: 0 $gap-small $gap-medium $gap-small;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.name {
    font-size: 2rem;
}