.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: transparent;
  z-index: 100;
  transform: translateY(0);
  transition: transform 0.6s;
}
.header:hover .innerHeader {
  background-color: #ffffff;
}
.header.hideHeader {
  transform: translateY(-100%);
}

.innerHeader {
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10rem;
  padding-right: 10rem;
  transition: background-color 0.3s;
}
@media screen and (max-width: 1000px) {
  .innerHeader {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (max-width: 700px) {
  .innerHeader {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.innerHeader.scrolledHeader {
  background-color: #ffffff;
}

.logoContainer {
  width: 150px;
  height: 100px;
  position: relative;
}
.logoContainer .logo {
  -o-object-fit: contain;
     object-fit: contain;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding-left: 200px;
}
@media screen and (max-width: 1000px) {
  .menu {
    padding-left: 0;
  }
}

.menuItemWrapper {
  transition: all 0.3s;
  padding: 0 10px;
  cursor: pointer;
}
.menuItemWrapper:hover {
  transform: translateY(-0.2rem);
  text-shadow: 0 5px 6px rgba(0, 0, 0, 0.4);
}
.menuItemWrapper.activeStyle {
  transform: translateY(-0.2rem);
  text-shadow: 0 5px 6px rgba(0, 0, 0, 0.4);
}
.menuItemWrapper.active {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.menuItemWrapper .menuItem {
  text-decoration: none;
  color: #000000;
  font-size: 1.8rem;
}

.subMenuAirWrapper {
  position: fixed;
  top: 60px;
  left: 7.5rem;
  right: 7.5rem;
  padding-top: 50px;
  background-color: transparent;
}
@media screen and (max-width: 1000px) {
  .subMenuAirWrapper {
    left: 5rem;
    right: 5rem;
  }
}
@media screen and (max-width: 700px) {
  .subMenuAirWrapper {
    left: 1rem;
    right: 1rem;
  }
}
.subMenuAirWrapper .subMenu {
  background-color: #ffffff;
  padding: 5rem;
  display: flex;
  gap: 2.5rem;
  border: 1px solid #000000;
}
.subMenuAirWrapper .subMenu .subMenuItems {
  flex: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}
.subMenuAirWrapper .subMenu .subMenuItems .subMenuItem {
  text-decoration: none;
  color: #000000;
  font-size: 1.8rem;
}
.subMenuAirWrapper .subMenu .subMenuItems .subMenuItem .hoverItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.subMenuAirWrapper .subMenu .subMenuItems .subMenuItem .hoverItem .childMenuItemName {
  transition: all 0.3s;
}
.subMenuAirWrapper .subMenu .subMenuItems .subMenuItem .hoverItem .childMenuItemDescription {
  font-size: 1.4rem;
}
.subMenuAirWrapper .subMenu .subMenuItems .subMenuItem .hoverItem:hover .childMenuItemName {
  transform: translateY(-0.2rem);
  text-shadow: 0 5px 6px rgba(0, 0, 0, 0.4);
}
.subMenuAirWrapper .subMenu .submenuInspirationContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2.5rem;
  border-left: 1px solid #000000;
}
.subMenuAirWrapper .subMenu .submenuInspirationContainer .inspirationHeading {
  color: grey;
}
.subMenuAirWrapper .subMenu .submenuInspirationContainer .submenuImageContainer {
  width: 100%;
  aspect-ratio: 1/1;
}

.hoverEffect {
  transition: all 0.3s;
}
.hoverEffect:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 6px 10px -3px rgba(0, 0, 0, 0.3);
}

.burgerIconContainer {
  cursor: pointer;
  position: relative;
  width: 50px;
  aspect-ratio: 1/1;
}
.burgerIconContainer .burgerIcon {
  -o-object-fit: contain;
     object-fit: contain;
}

.burgerMenu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 110;
  width: 700px;
  max-width: calc(100% - 5rem);
  transform: translateX(-100%);
  transition: transform 0.6s;
}
.burgerMenu.showBurger {
  transform: translateX(0);
}

.burgerBackLayer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 105;
}/*# sourceMappingURL=header.module.css.map */