.container {
  height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;
}
.container.constrainVh {
  height: 80vh;
}
.container.textAlignRight {
  justify-content: end;
}
.container.splitBackground {
  gap: 5rem;
}
@media screen and (max-width: 1000px) {
  .container.splitBackground {
    gap: 2.5rem;
  }
}
@media screen and (max-width: 700px) {
  .container.splitBackground {
    flex-direction: column;
    gap: 2.5rem;
    height: unset;
  }
}
@media screen and (min-width: calc(701px)) {
  .container.flipped {
    flex-direction: row-reverse;
  }
}
.container.backgroundLayerToRight {
  position: relative;
}
.container.backgroundLayerToRight::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(250, 250, 250, 0.5), transparent);
  z-index: 1;
}
.container.backgroundLayerToLeft {
  position: relative;
}
.container.backgroundLayerToLeft::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to left, rgba(250, 250, 250, 0.5), transparent);
  z-index: 1;
}

.imageWrapperFullScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.imageContainer {
  width: 100%;
  height: 100%;
}
.imageContainer.zoom {
  transform: scale(1);
  animation: zoomIn 15s ease forwards;
}
@keyframes zoomIn {
  to {
    transform: scale(1.1);
  }
}

.imageWrapperHalfScreen {
  margin-top: 12.5rem;
  margin-bottom: 5rem;
  flex: 1;
  overflow: hidden;
  position: relative;
  border-radius: 0.4rem;
}
@media screen and (max-width: 700px) {
  .imageWrapperHalfScreen {
    margin-top: 10rem;
    margin-bottom: 0;
    aspect-ratio: 1/1;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  z-index: 2;
  align-self: end;
  margin-top: 10rem;
  margin-bottom: 5rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 50%;
}
@media screen and (max-width: 700px) {
  .contentWrapper {
    margin-top: 0;
    margin-bottom: 2.5rem;
    width: auto;
  }
}
.contentWrapper.alignCenter {
  align-self: center;
}
.contentWrapper.alignStart {
  align-self: start;
}
.contentWrapper .heading {
  color: var(--text-color);
}
.contentWrapper .text {
  color: var(--text-color);
  font-size: 3rem;
}

.contentWrapperSplitBackground {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  z-index: 1;
  align-self: end;
  margin-top: 12.5rem;
  margin-bottom: 5rem;
  padding: 2.5rem 0;
  flex: 1;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media screen and (max-width: 700px) {
  .contentWrapperSplitBackground {
    align-self: start;
    margin-top: 0;
    margin-bottom: 2.5rem;
    padding: 0;
    flex: 0;
  }
}
@media screen and (min-width: calc(701px)) {
  .contentWrapperSplitBackground.alignCenter {
    align-self: center;
  }
}
.contentWrapperSplitBackground.alignStart {
  align-self: start;
}
.contentWrapperSplitBackground .heading {
  color: var(--text-color);
}
.contentWrapperSplitBackground .text {
  color: var(--text-color);
  font-size: 3rem;
}

.contentPadding {
  margin-left: 10rem;
  margin-right: 10rem;
}
@media screen and (max-width: 1000px) {
  .contentPadding {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
@media screen and (max-width: 700px) {
  .contentPadding {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}/*# sourceMappingURL=Hero.module.css.map */