@use '../../../styles/variables' as *;

.container {
    display: flex;
    flex-direction: column;
    //gap: $gap-large;
    align-items: center;
    text-align: center;
}

.imageContainer {
    width: 100%;
    max-width: 400px;
}