@use '../../../../styles/variables' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: $gap-large;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: $gap-large;

    @media screen and (max-width: $media-large) {
        gap: $gap-medium;
    }

    @media screen and (max-width: $media-medium) {
        display: flex;
        flex-direction: column;
        gap: $gap-large;
    }
}

.sectionText {
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
    color: var(--text-color);
}

.smallBoxContainer {
    display: flex;
    flex-direction: column;
    gap: $gap-large;

    @media screen and (max-width: $media-large) {
        gap: $gap-medium;
    }

    @media screen and (max-width: $media-medium) {
        gap: $gap-large;
    }
}

.smallBox {
    flex: 1;
    width: 100%;
    //aspect-ratio: 1/1;
}

.buttonCenter {
    align-self: center;
}

.buttonLeft {
    align-self: start;
}

.buttonRight {
    align-self: end;
}