@use '../../../../styles/variables' as *;

.container {
    display: flex;
    flex-direction: column;
    gap: $gap-large;
}

.text {
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
    padding-left: $padding-large;
    padding-right: $padding-large;

    @media screen and (max-width: $media-large) {
        padding-left: $padding-medium;
        padding-right: $padding-medium;
    }
    @media screen and (max-width: $media-medium) {
        padding-left: $padding-small;
        padding-right: $padding-small;
    }
}